[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biplotbootGUI"]
	path = biplotbootGUI
	url = https://github.com/cran/biplotbootGUI
[submodule "cncaGUI"]
	path = cncaGUI
	url = https://github.com/cran/cncaGUI
[submodule "multibiplotGUI"]
	path = multibiplotGUI
	url = https://github.com/cran/multibiplotGUI
